{% extends 'index.html' %}
{% block content %}
{% load static %}
    <div>
    <p>Register New Address</p>
    </div>
   <br>
 <div class="table-responsive">
 <form action="" method="post">
     {% csrf_token %}
      {{ form.name.label }}
      {{ form.name }}
     <input type="submit" name="submit">

 </form>

 </div>
    <hr>
    <di>
    <p></p>
    </di>
 <div class="table-responsive">
     <table class="table">
         <thead class="bg-light">
         <tr class="border-0">
             <th class="border-0">#</th>
             <th class="border-0">AddressName</th>
             <th>Update</th>
             <th>Remove</th>
         </tr>
         </thead>
         <tbody>
         {% for a in addresses %}
             <tr>
                 <td>{{ a.id }}</td>
                 <td>{{ a.name }}</td>
                 <td><a class="btn btn-sm btn-info" href="{% url 'update_address'  a.id %}">Update</a></td>
                 <td><a class="btn btn-sm btn-warning" href="{% url 'update_address' a.id %}">Remove</a></td>
             </tr>
         {% endfor %}



        </tbody>
     </table>
 </div>


{#</div>#}
{% endblock %}