{% extends 'index.html' %}
{% block content %}
 <div class="table-responsive">
     <table class="table">
         <thead class="bg-light">
         <tr class="border-0">
             <th class="border-0">#</th>
             <th class="border-0">UserName</th>
             <th class="border-0">Email</th>
             <th class="border-0">FirstName</th>
             <th class="border-0">LastName</th>
             <th>Update</th>
             <th>Remove</th>
         </tr>
         </thead>
         <tbody>
         {% for user in users %}
             <tr>
                 <td>{{ user.id }}</td>
                 <td>{{ user.username }}</td>
                 <td>{{ user.email }}</td>
                 <td>{{ user.first_name }}</td>
                 <td>{{ user.last_name }}</td>
                 <td><a class="btn btn-sm btn-info" href="{% url 'update_user'  user.id %}">Update</a></td>
                 <td><a class="btn btn-sm btn-warning" href="{% url 'delete_user' user.id %}">Remove</a></td>

            </tr>
         {% endfor %}

        </tbody>
     </table>
 </div>


{#</div>#}
{% endblock %}