{% extends 'index.html' %}
{% block content %}

<form method="POST" action="">
    {% csrf_token %}
    {{ form }}
<input type="submit" name="submit">

</form>
   <hr>
    <div class="table-responsive">
     <table class="table">
         <thead class="bg-light">
         <tr class="border-0">
             <th class="border-0">#</th>
             <th class="border-0">Device</th>
             <th class="border-0">Status</th>
             <th class="border-0">Description</th>
             <th class="border-0">Date</th>
             <th class="border-0">Person</th>
             <th class="border-0">Title</th>
             <th>Update</th>
             <th>Remove</th>
         </tr>
         </thead>
         <tbody>
         {% for form in items %}
             <tr>
                 <td>{{ form.id }}</td>
                 <td>{{ form.device }}</td>
                 <td>{{ form.status }}</td>
                 <td>{{ form.description }}</td>
                 <td>{{ form.date_created }}</td>
                 <td>{{ form.person }}</td>
                 <td>{{ form.title }}</td>
                 <td><a class="btn btn-sm btn-info" href="{% url 'updateitem'  form.id %}">Update</a></td>
                 <td><a class="btn btn-sm btn-warning" href="{% url 'deleteitem' form.id %}">Remove</a></td>

            </tr>
         {% endfor %}

        </tbody>
     </table>
 </div>



{#</div>#}
{% endblock %}