{% extends 'index.html' %}
{% block content %}
 <div class="table-responsive">
     <table class="table">
         <thead class="bg-light">
         <tr class="border-0">
             <th class="border-0">#</th>
             <th class="border-0">Device Name</th>
             <th class="border-0">Serial Number</th>
             <th class="border-0">Date Created</th>
             <th class="border-0">Code</th>
             <th class="border-0">Category</th>
             <th class="border-0">Quantity</th>
             <th>Update</th>
             <th>Remove</th>
         </tr>
         </thead>
         <tbody>
         {% for stock in stocks %}
             <tr>
                 <td>{{ stock.id }}</td>
                 <td>{{ stock.name }}</td>
                 <td>{{ stock.serialNumber }}</td>
                 <td>{{ stock.date_created }}</td>
                 <td>{{ stock.code }}</td>
                 <td>{{ stock.category }}</td>
                 <td>{{ stock.quantity }}</td>
                 <td><a class="btn btn-sm btn-info" href="{% url 'updatestock'  stock.id %}">Update</a></td>
                 <td><a class="btn btn-sm btn-warning" href="{% url 'deletestock' stock.id %}">Remove</a></td>

            </tr>
         {% endfor %}

        </tbody>
     </table>
 </div>
    <hr>
<di>
    <a href="{% url 'recordstock' %}">RECORD NEW DEVICE</a>
</di>

{#</div>#}
{% endblock %}